/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two{
    display: flex;
    justify-content: space-between;
}

.three{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    margin-top: 0;
}

li{
    margin-right: 50px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.five{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

article{
    flex: 30%;
}